<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f [OR]
	RewriteCond %{REQUEST_FILENAME} !-d [OR]
	RewriteCond %{REQUEST_FILENAME} -d
	RewriteRule ^.*$ ../not-found.php [L]
</IfModule>
