*{
	margin:0;
	padding:0;
}
body{
	width:96%;
	height:96%;
	overflow:hidden;
	font-size:12pt;
}
body:after{
	content:"";
	position:absolute;
	z-index:-1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity:0.5;
	background: url('background.png');
	background-repeat:no-repeat;
	background-size:cover;
}

#icon{
	position:fixed;
	left:3%;
	top:4%;
	width:10%;
	border-radius: 5px;
}
#search{
	position:absolute;
	left:15%;
	top:11%;
	height:78%;
	width:35%;
	box-sizing:border-box;
	border-right:1px solid black;
	padding-top:10%;
	font-family:"Playfair Display",Arial,serif;
}
#search-b{
	position:absolute;
	right:10%;
	top:11%;
	bottom:11%;
	height:78%;
	width:39%;
	box-sizing:border-box;
	padding-top:10%;
	font-family:"Playfair Display",Arial,serif;
	overflow-y:auto;
}
input,select,button{
	border:none;
	background-color:rgba(196,196,196,0.82);
	padding:7px;
	border-radius: 5px;
}
.remove,
#add,
.go{
	background-color:transparent;
	background-size:100%;
	background-repeat:no-repeat;
	background-position:bottom center;
	border:none;
	padding:0px;
	height:2em;
	width:2em;
	font-family:"Karla";
}
.remove{
	background-image:url(minus.svg);
}
#add{
	background-image:url(plus.svg);
}
.go{
	background-image:url(enter.svg);
	width:5em;
	float:right;
	margin-right:45%;
}
.text>input{
	width:15em;
}

#details{
	cursor: pointer;
	position: absolute;
	right: 0%;
	bottom: 1%;
	left: 3%;
	border-radius: 5px;
	width:2.75em;
	height:2.75em;
	float:right;
	margin-right:45%;
	opacity: 0.95;
}

#info{
	right: 0%;
	bottom: 1%;
	left: 10%;
	position:fixed;
	background-color:rgba(196,196,196,0.82);
	width: 25%;
	height: 20%;
	border-radius: 5px;
	border: none;
	opacity:0;
	transition:opacity 0.5s;
}

#info a{
	color:#000;
}

#details:hover #info{
	opacity:1;
}

#details img {
	position: absolute;
	height: 100%;
}

p.composer {
	position: absolute;
	font-family:"Karla";
	bottom: 1%;
	top: 50%;
	left: 60%;
	width: 100%;
	height: 100%;
	font-size: 100%;
	text-align:left;
}
p.title {
	position: absolute;
	font-family:"Playfair Display",Arial,serif;
	bottom: 1%;
	top: 25%;
	left: 60%;
	width: 100%;
	height: 100%;
	font-size: 150%;
	text-align:left;
}
