body{
	width:96%;
	height:96%;
	overflow:hidden;
	font-size:12pt;
}
body:after{
	content:"";
	position:absolute;
	z-index:-1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity:0.5;
	background: url('../images/database/background.scharf.png');
	filter: blur(5px);
	background-repeat:no-repeat;
	background-size:cover;
}

#icon{
	position:fixed;
	left:3%;
	top:4%;
	width:10%;
	border-radius: 5px;
}
#search{
	position:absolute;
	left:15%;
	top:11%;
	height:78%;
	width:35%;
	box-sizing:border-box;
	border-right:1px solid black;
	padding-top:10%;
	font-family:"Playfair Display",Arial,serif;
}
#search-b{
	position:absolute;
	right:10%;
	top:11%;
	bottom:11%;
	height:78%;
	width:39%;
	box-sizing:border-box;
	padding-top:10%;
	font-family:"Playfair Display",Arial,serif;
	overflow-y:auto;
}
input,select,button{
	border:none;
	background-color:rgba(196,196,196,0.82);
	padding:7px;
	border-radius: 5px;
}
.remove,
#add,
.go{
	background-color:transparent;
	background-size:100%;
	background-repeat:no-repeat;
	background-position:bottom center;
	border:none;
	padding:0px;
	height:2em;
	width:2em;
	font-family:"Karla";
}
.remove{
	background-image:url('/images/database/minus.svg');
}
#add{
	background-image:url('/images/database/plus.svg');
}
.go{
	background-image:url('/images/database/enter.svg');
	float:right;
	margin-right:45%;
}
.text>input{
	width:15em;
}

.info-div{
	position: fixed;
  bottom: 8px;
  left: 8px;
  background-color: rgba(0, 0, 0, 0);;
  border: none!important;
  cursor: pointer;
}

.info-img{
  width: 28px;
  transition: 0.5s;
}

.info-img:hover{
  width: 30px;
  transition: 0.5s;
}

.info{
	bottom: 8px;
	left: 5%;
	position:fixed;
	height: 20%;
	width: 50%;
	opacity: 0;
	transition:opacity 0.5s;
}

.info-div:hover .info{
	opacity:1;
}

.info a{
	color:#000;
}

p.composer {
	position: absolute;
	font-family:"Karla";
	bottom: 1%;
	top:65%;
	font-size: 100%;
	text-align:left;
}
p.title {
	position: absolute;
	font-family:"Playfair Display",Arial,serif;
	bottom: 1%;
	top: 40%;
	font-size: 150%;
	text-align:left;
}
