@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/karla/Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/karla/Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/karla/Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/karla/BoldItalic.ttf') format('truetype');
}
